<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="import" href="my-login.html">
<link rel="lazy-import" href="my-registro.html">
<link rel="lazy-import" href="my-movimientos.html">
<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="my-cuentas.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color:rgb(09,79,164);
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      
      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      .logout{

        color:#fff;
        background-color:rgb(09,79,164);
        

      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
   
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title align="center" >Consulta de  Movimientos</div>
            <button type="submit" style=color:rgb(09,79,164) hidden = "[[oculto]]" name="logout" on-click="logout"><span class="glyphicon glyphicon-log-out"></span> </button>
            <!-- <button class="glyphicon glyphicon-log-out" style=color:black hidden = "[[oculto]]" name="logout"  on-click="logout"></button> -->
            <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                <a name="login" href="[[rootPath]]login"></a>
                <a name="registro" href="[[rootPath]]registro"></a>
                <a name="movimientos" href="[[rootPath]]movimientos"></a>
                <a name="cuentas" href="[[rootPath]]cuentas"></a>
                <a name="situacion" href="[[rootPath]]situacion"></a>
                <a name="transferencia" href="[[rootPath]]transferencia"></a>
             </iron-selector>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-login id="login" name="login">Login</my-login>
          <my-registro id="registro" name="registro"></my-registro>
          <my-movimientos id="movimientos" name="movimientos"></my-movimientos>
          <my-cuentas id="cuentas" name="cuentas"></my-cuentas>
          <my-situacion id="situacion" name="situacion"></my-situacion>
          <my-transferencia id="transferencia" name="transferencia"></my-transferencia>
         
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout> 
  </template>

  <script>
    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
            
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          oculto:{
            type:Boolean,
            value:true,
          
          }

        };
      }

      static get observers() {
        return [
          
         '_routePageChanged(routeData.page)',

        ];
      }

      connectedCallback() {
        var __this=this;
        super.connectedCallback();


        this.$.login.addEventListener('registro', function(e){
        this.set('route.path', "/registro");
         });

        this.$.registro.addEventListener('volver', function(e){
        console.log("entre en volver")
        this.set('route.path', "/login");
        // window.location.href = "login";
        });
        this.$.login.addEventListener('cuentas', function(e){
        console.log("entre en cuentas");
        __this.oculto=false;
         this.set('route.path', "/cuentas");
        __this.$.cuentas.obtenerCuentas();
        });
        this.$.cuentas.addEventListener('movimientos', function(e){
        console.log("entre en movimientos");
        __this.oculto=false;
        this.set('route.path', "/movimientos");
        __this.$.movimientos.obtenerMovimientos();
        });
        this.$.movimientos.addEventListener('situacion', function(e){
        console.log("entre en situacion");
        __this.oculto=false;
        this.set('route.path', "/situacion");
        __this.$.situacion.latitud = localStorage.getItem('latitud');
        __this.$.situacion.longitud = localStorage.getItem('longitud');
        });
        this.$.situacion.addEventListener('volverSituacion', function(e){
        console.log("volver a movimientos");
        __this.oculto=false;
        this.set('route.path', "/movimientos");
        __this.$.movimientos.order();

        });
        this.$.movimientos.addEventListener('volverMovimientos', function(e){
        console.log("volver a cuentas");
        __this.oculto=false;
        this.set('route.path', "/cuentas");
        __this.$.cuentas.obtenerCuentas();
        });
        this.$.cuentas.addEventListener('transferencia', function(e){
        console.log("ir a transferencia");
        __this.oculto=false;
        this.set('route.path', "/transferencia");
        });

        this.$.transferencia.addEventListener('volverCuentas', function(e){
        console.log("ir a cuentas");
        __this.oculto=false;
        this.set('route.path', "/cuentas");
        });
        
        
  }
    
      
      _routePageChanged(page) {
        console.log('pagina'+page)
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'login';

        // Close a non-persistent drawer when the page & route are changed.
        // if (!this.$.drawer.persistent) {
        //   this.$.drawer.close();
        // }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showlogin.bind(this),
            true);
      }

      _showlogin() {
        this.page = 'login';
      }
      logout(){
        window.localStorage.clear();
        this.set('route.path', "/");

        console.log(this.oculto);
        this.oculto=true;

        
      }
     


   
      
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
