<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="shared-styles.html" />
<dom-module id="my-cuentas">
  <template>
    <style include = "shared-styles">

   form_caja {
  width: 524px;
  padding-top: 8px;
  padding-bottom: 15px;
  margin: 0 auto 20px auto;
  background-color: #446bb3;    
   border-radius: 15px;    
  -moz-border-radius: 15px;    
  -webkit-border-radius: 15px;
  color: #446bb3;
  padding:10px;
}
table { background-color : #fff; color : #453}
thead { background-color: #446bb3  ; color :#fff; padding:4px; line-height:30px }
tbody tr:nth-child(even) {background: #CCC}
tbody tr:nth-child(odd) {background: #FFF}*/
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style> 



<app-location
route="{{route}}"
url-space-regex="^[[rootPath]]">
</app-location>

<app-route
route="{{route}}"
pattern="[[rootPath]]:page"
data="{{routeData}}"
tail="{{subroute}}">
</app-route>


    <div class="card" >
    <div class="row"> 
             
      <h1 class="col-lg-12">Cuentas</h1>
      
      <!-- <button on-click="obtenerCuentas">Ver Cuentas</button> -->
      
      <table class="table tabled-striped" >
        <tbody > 
          <tr>
            <th>Cuenta</th>
            <th>Descripción Cuenta</th>
            <th>Acciones</th>
          </tr>
          <template is="dom-repeat" items="{{cuentas}}"> 
            <tr>
              <td>
                  <button type="button" class="btn btn-link" on-click="order">[[item.idCuenta]]</button>
              </td>
              <td>
                [[item.descCuenta]]
              </td>
              <td>
                  <button type="button" class="btn btn-link" on-click= "order2">Hacer Transferencia</button>
                  <!-- <button class="fa fa-map-marker" on-click="order"></button> -->
              </td>
           </tr>
          </template>
         </tbody>
     </table>
       
    </div>

    </div>





  </template>
    <script> 

    
 
  

  class Cuentas extends Polymer.Element {
    static get is() { return 'my-cuentas'; }
    static get properties() {
      return {
        cuentas: {
          type: Array,
          notify: true
          
        },
        noCargados: {
          type: Boolean,
          value: true
        },
        obtenerCuentas: function() {
          
          var request = new XMLHttpRequest();
          var idCliente =localStorage.getItem('idCliente');
          console.log(idCliente);
          request.open("GET", "http://localhost:3000/cuentasMongo/"+idCliente+"/cuentas", false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.cuentas = JSON.parse(request.responseText);
          console.log(this.cuentas);
           this.noCargados = false;
    
        }
    

      };
    }
    order(e){
      // console.log(e.model);
      console.log(e.model.__data.index);
      var  detail ={index: e.model.__data.index};
      localStorage.setItem('index', detail.index);
      this.dispatchEvent(new CustomEvent('movimientos', { detail }));
   
    }
    order2(e){
      // console.log(e.model);
      console.log(e.model.__data.index);
      var  detail ={index: e.model.__data.index};
      localStorage.setItem('index', detail.index);
      this.dispatchEvent(new CustomEvent('transferencia', { detail }));
   
    }

    ready(){
      super.ready();
      this.obtenerCuentas();
    }

    transferencia(){
     
    const detail ={result:'OK'};
    this.dispatchEvent(new CustomEvent('transferencia', { detail }));
       
    }
   
     obtenerCuentas() 
      {
      var request = new XMLHttpRequest();
      var idCliente =localStorage.getItem('idCliente');
      console.log(idCliente);
      request.open("GET", "http://localhost:3000/cuentasMongo/"+idCliente+"/cuentas", false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.cuentas = JSON.parse(request.responseText);
      console.log(this.cuentas);
      this.noCargados = false;
    }

    llamarMovimientos()
      {
        console.log(indexForElement);
        console.log('entrado');

        const detail ={result:'OK'};
        this.dispatchEvent(new CustomEvent('movimientos', { detail }));


      }

    obtenerMovimientos() 
      {
      var request = new XMLHttpRequest();
      var idCliente =localStorage.getItem('idCliente');
      console.log(idCliente);
      request.open("GET", "http://localhost:3000/cuentasMongo/"+idCliente+"/cuentas/0", false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.cuentas = JSON.parse(request.responseText);
      console.log(this.cuentas);
      this.noCargados = false;
    }


  
    anadirCliente() {
      var request = new XMLHttpRequest();
      request.open("POST", "http://localhost:3000/MovimientosMongo", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      var nuevoCliente = {"idcliente":"12345","nombre":"Pepe","apellido":"Garcia"};
      var body = JSON.stringify(nuevoCliente);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      this.noCargados = false;
    }
  }


  
  window.customElements.define(Cuentas.is, Cuentas);
  </script>
</dom-module>
