
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../node_modules/md5/md5.js">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<dom-module id="my-login">

  <template>
    <!-- /*<style>
      :host {
        display: block;
      }

    </style>*/ -->

    <style media="screen">
    /* {
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
font-family:arial;
} */
body{background:url("http://www.galaxiastudio.com/wp-content/uploads/2014/03/2252.jpg")#FF9000}
h1{
color:rgb(09,79,164);
text-align:center;
font-faimly:icon;
}

.login-form{
width:350px;
padding:20px 60px;
background:rgba(255, 255, 255, 0.637);
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
margin:50px auto;
}
.form-group{
position: relative;
margin-bottom:15px;
}
.form-control{
width:100%;
height:50px;
border:none;
padding:5px 7px 5px 15px;
background:#fff;
color:rgb(09,79,164);
border:2px solid rgb(09,79,164);
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}
.form-control:focus, .form-control:focus + .fa{
border-color:rgb(09,79,164);
color:rgb(09,79,164);
}
.form-group .fa{
position: absolute;
right:15px;
top:17px;
color:rgb(09,79,164);
}
.log-status.wrong-entry {
-webkit-animation: wrong-log 0.3s;
-moz-animation: wrong-log 0.3s;
-ms-animation: wrong-log 0.3s;
animation: wrong-log 0.3s;
}
.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
border-color: #ed1c24;
color: #ed1c24;
}
@keyframes wrong-log {
0% { left: 0px;}
20% {left: 15px;}
40% {left: -15px;}
60% {left: 15px;}
80% {left: -15px;}
100% {left: 0px;}
}
@-ms-keyframes wrong-log {
0% { left: 0px;}
20% {left: 15px;}
40% {left: -15px;}
60% {left: 15px;}
80% {left: -15px;}
100% {left: 0px;}
}
@-moz-keyframes wrong-log {
0% { left: 0px;}
20% {left: 15px;}
40% {left: -15px;}
60% {left: 15px;}
80% {left: -15px;}
100% {left: 0px;}
}
@-webkit-keyframes wrong-log {
0% { left: 0px;}
20% {left: 15px;}
40% {left: -15px;}
60% {left: 15px;}
80% {left: -15px;}
100% {left: 0px;}
}
.log-btn{
background:rgb(09,79,164);
display:inline-block;
width:100%;
font-size:16px;
height:50px;
color:#fff;
text-decoration:none;
border:none;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

.link{
text-decoration:none;
color:#9D8E79;
display:block;
text-align:right;
font-size:12px;
margin-bottom:15px;
}
.link:hover{
text-decoration:underline;
color:#8C918F;
}
.alert{
display:none;
font-size:12px;
color:#f00;
float:left;
}


    </style>
    <app-location
    route="{{route}}"
    url-space-regex="^[[rootPath]]">
</app-location>

<app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
</app-route>

    <!-- <div class="" hidden$={{Ocultar}}> -->
      <div class="login-form">
           <!-- <h1><p class="text">Consulta de movimientos</p></h1> -->
           <h1><img src="https://d31dn7nfpuwjnm.cloudfront.net/images/valoraciones/0026/5311/bbva.png?1489028109"width="210px" height="70px"></h1> 
           <div class="form-group ">
           <br><b></b>
            <h3><p class="text">Usuario</h3>
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Indique su usuario"name="" value="{{usuario::input}}">
            <i class="fa fa-user"></i>
            </div>
            <h3><p class="text">Password</h3>
            <div class="form-group">
            <input type="password" class="form-control" placeholder="Indique su password" name="" value="{{password::input}}">
            <i class="fa fa-lock"></i>
            </div>
            <div class="form-group">
            <button on-click ="hacerLogin" type="submit" name="button" class="log-btn">Entrar</button>
            </div>
            <div class="form-group">
            <button on-click ="nuevoUsuario" type="submit" name="button" class="log-btn">Nuevo Usuario</button>
            </div>
            <span class="alert">Invalid Credentials</span>
            <span>{{mensaje}}</span>
          
            </div>
            </div>
            </div>



<!-- <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'my-login'; }
      static get properties() {
        return {
          usuario: {
            type: String,

          },
          password:{
            type:String,

          },
          mensaje:{
            type:String,

          },
            Ocultar:{
              type:Boolean,
              value:false
            }
        };
      }
    hacerLogin()
    {
    
    console.log(this.usuario);
    var datos = {"usuario":this.usuario,"password":this.password};
        //  alert("Buenas");
         localStorage.setItem('idCliente', this.usuario);
         var request = new XMLHttpRequest();
         request.open("POST", "http://localhost:3000/loginP", false);

         request.setRequestHeader("Content-Type", "application/json");
         request.send(JSON.stringify(datos));
         
         console.log(request.responseText);

         if (request.responseText == "Login correcto") {
          localStorage.setItem('idCliente', this.usuario);
          const detail ={result:'OK'};
          this.dispatchEvent(new CustomEvent('cuentas', { detail }));
        
         }
         else{
          alert("Usuario o Constraseña inocorrecto");
         }

      }
    
      nuevoUsuario()
      {
        console.log('entrado');
        const detail ={result:'OK'};
        this.dispatchEvent(new CustomEvent('registro', { detail }));


      }

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>


</dom-module>
