<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="shared-styles.html" />
<dom-module id="my-movimientos">
  <template>
    <style include = "shared-styles">

   form_caja {
  width: 524px;
  padding-top: 8px;
  padding-bottom: 15px;
  margin: 0 auto 20px auto;
  background-color: #446bb3;    
   border-radius: 15px;    
  -moz-border-radius: 15px;    
  -webkit-border-radius: 15px;
  color: #446bb3;
  padding:10px;
}
table { background-color : #fff; color : #453}
thead { background-color: #446bb3  ; color :#fff; padding:4px; line-height:30px }
tbody tr:nth-child(even) {background: #CCC}
tbody tr:nth-child(odd) {background: #FFF}*/
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style> 



<app-location
route="{{route}}"
url-space-regex="^[[rootPath]]">
</app-location>

<app-route
route="{{route}}"
pattern="[[rootPath]]:page"
data="{{routeData}}"
tail="{{subroute}}">
</app-route>


    <div class="card" >
    <div class="row"> 
             
      <h1 class="col-lg-12">Movimientos</h1>
      <!-- <button on-click="obtenerMovimientos">Obtener Movimientos</button> -->
      <table class="table tabled-striped">
        <tbody>
          <tr>
            <th>Movimiento</th>
            <th>Importe</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Situación</th>

          </tr>
          <template is="dom-repeat" items="{{cuentas}}">
            <tr>
              <td>
                [[item.idMovimiento]]
              </td>
              <td>
                [[item.importe]]
              </td>
              <td>
                [[item.fechaMovimiento]]
              </td>
              <td>
                  [[item.horaMovimiento]]
                </td>
                <td>
                  <button type="button" class="btn btn-link" on-click="order">Ver Mapa</button>
                  <!-- <button class="fa fa-map-marker" on-click="order"></button> -->
                </td>
            
          </template>
        </tbody>
      </table>
      <button type="submit" style=color:rgb(09,79,164) name="volver" on-click="volver"><span class="glyphicon glyphicon-chevron-left"></span>Cuentas</button>
    </div>

    </div>





  </template>
    <script> 

  class Movimientos extends Polymer.Element {
    static get is() { return 'my-movimientos'; }
    static get properties() {
      return {
        cuentas: {
          type: Array,
          notify: true
        },
        noCargados: {
          type: Boolean,
          value: true
        },

        obtenerMovimientos: function() {

          var request = new XMLHttpRequest();
          var idCliente =localStorage.getItem('idCliente');
          var index = localStorage.getItem('index');
          console.log(idCliente);
          request.open("GET", "http://localhost:3000/cuentasMongo/"+idCliente+"/cuentas/"+index+"/movimientos", false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.cuentas = JSON.parse(request.responseText);
          console.log(this.cuentas);
          this.noCargados = false;

        }
      };
    }

      nuevoMovimientos() 
      {
      var request = new XMLHttpRequest();
      var idCliente =localStorage.getItem('idCliente');
      var index = localStorage.getItem('index');
      console.log(idCliente);
      request.open("GET", "http://localhost:3000/cuentasMongo/"+idCliente+"/cuentas/"+index+"/movimientos", false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.cuentas = JSON.parse(request.responseText);
      console.log(this.cuentas);
      this.noCargados = false;
    }

    obtenerMovimientos() 
      {
      var request = new XMLHttpRequest();
      var idCliente =localStorage.getItem('idCliente');
      var index = localStorage.getItem('index');
      console.log(idCliente);
      request.open("GET", "http://localhost:3000/cuentasMongo/"+idCliente+"/cuentas/"+index+"/movimientos", false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.cuentas = JSON.parse(request.responseText);
      console.log(this.cuentas);
      this.noCargados = false;
    }

    ready(){
      super.ready();
      this.obtenerMovimientos();
    }

    order(e){
      // console.log(e.model);
      console.log(e.model.__data.index);

      var  detail ={index: e.model.__data.index};
      var latitud = e.model.__data.item.latitud;
     var longitud = e.model.__data.item.longitud;

      localStorage.setItem('latitud', latitud);
      localStorage.setItem('longitud', longitud);
      this.dispatchEvent(new CustomEvent('situacion', { detail }));
   
    }
    volver(){

  const detail ={result:'OK'};
  this.dispatchEvent(new CustomEvent('volverMovimientos', { detail }));
}


   
    obtenerClientes() {
      var request = new XMLHttpRequest();
      request.open("GET", "http://localhost:3000/movimientosMongo", false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.clientes = JSON.parse(request.responseText);
      console.log(this.clientes);
      this.noCargados = false;
    }
    anadirCliente() {
      var request = new XMLHttpRequest();
      request.open("POST", "http://localhost:3000/MovimientosMongo", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      var nuevoCliente = {"idcliente":"12345","nombre":"Pepe","apellido":"Garcia"};
      var body = JSON.stringify(nuevoCliente);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      this.noCargados = false;
    }
  }
  window.customElements.define(Movimientos.is, Movimientos);
  </script>
</dom-module>
