
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/google-map/google-map.html">

<dom-module id="my-situacion">
 <template>
 <style include="shared-styles">
   :host{

   }
   google-map {
     height: 300px;
   }
   

 </style>
 <app-location
   route="{{route}}"
   url-space-regex="^[[rootPath]]">
 </app-location>

 <app-route
   route="{{route}}"
   pattern="[[rootPath]]:page"
   data="{{routeData}}"
   tail="{{subroute}}">
 </app-route>


 <div class="card">
  
   <h1 class="col-lg-12">Localización</h1><br><br><br>
     <google-map zoom=15 latitude=[[latitud]] longitude=[[longitud]] fit-to-markers api-key="AIzaSyCtOX3UIcFZKii5BUdXCEpKIBYmHC9nxAI">
       <google-map-marker latitude=[[latitud]] longitude=[[longitud]] draggable="false"></google-map-marker>
     </google-map>
 </div>
 <button type="submit" style=color:rgb(09,79,164) name="volver" on-click="volver"><span class="glyphicon glyphicon-chevron-left"></span>Movimientos</button>
 </template>
 <script>

 class Situacion extends Polymer.Element {
   static get is() { return 'my-situacion'; }
   static get properties() {
     return {
       movimientos: {
         type: Array,
         notify: true
       },
       latitud:{
         type: Number,
         value: localStorage.getItem('latitud')
       },
       longitud:{
         type: Number,
         value: localStorage.getItem('longitud')
       }
     };
   }


volver(){

  const detail ={result:'OK'};
  this.dispatchEvent(new CustomEvent('volverSituacion', { detail }));
}


 }

 window.customElements.define(Situacion.is, Situacion);

 </script>

</dom-module>