<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="shared-styles.html" />
<dom-module id="my-transferencia">

  <template>
    <!-- /*<style>
      :host {
        display: block;
      }

    </style>*/ -->

    <style media="screen">
    {
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
font-family:arial;
}
body{background:url("http://www.galaxiastudio.com/wp-content/uploads/2014/03/2252.jpg")#FF9000}
h1{
color:rgb(09,79,164);
text-align:center;
font-faimly:icon;
}

.login-form{
width:350px;
padding:20px 60px;
background:rgba(255, 255, 255, 0.637);
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
margin:50px auto;
}
.form-group{
position: relative;
margin-bottom:15px;
}
.form-control{
width:100%;
height:50px;
border:none;
padding:5px 7px 5px 15px;
background:#fff;
color:rgb(09,79,164);
border:2px solid rgb(09,79,164);
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}
.form-control:focus, .form-control:focus + .fa{
border-color:rgb(09,79,164);
color:rgb(09,79,164);
}
.form-group .fa{
position: absolute;
right:15px;
top:17px;
color:rgb(09,79,164);
}
.log-status.wrong-entry {
-webkit-animation: wrong-log 0.3s;
-moz-animation: wrong-log 0.3s;
-ms-animation: wrong-log 0.3s;
animation: wrong-log 0.3s;
}
.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
border-color: #ed1c24;
color: #ed1c24;
}
@keyframes wrong-log {
0% { left: 0px;}
20% {left: 15px;}
40% {left: -15px;}
60% {left: 15px;}
80% {left: -15px;}
100% {left: 0px;}
}
@-ms-keyframes wrong-log {
0% { left: 0px;}
20% {left: 15px;}
40% {left: -15px;}
60% {left: 15px;}
80% {left: -15px;}
100% {left: 0px;}
}
@-moz-keyframes wrong-log {
0% { left: 0px;}
20% {left: 15px;}
40% {left: -15px;}
60% {left: 15px;}
80% {left: -15px;}
100% {left: 0px;}
}
@-webkit-keyframes wrong-log {
0% { left: 0px;}
20% {left: 15px;}
40% {left: -15px;}
60% {left: 15px;}
80% {left: -15px;}
100% {left: 0px;}
}
.log-btn{
background:rgb(09,79,164);
display:inline-block;
width:100%;
font-size:16px;
height:50px;
color:#fff;
text-decoration:none;
border:none;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

.link{
text-decoration:none;
color:#9D8E79;
display:block;
text-align:right;
font-size:12px;
margin-bottom:15px;
}
.link:hover{
text-decoration:underline;
color:#8C918F;
}
.alert{
display:none;
font-size:12px;
color:#f00;
float:left;
}


    </style>
     <app-location
     route="{{route}}"
     url-space-regex="^[[rootPath]]">
 </app-location>
 
 <app-route
     route="{{route}}"
     pattern="[[rootPath]]:page"
     data="{{routeData}}"
     tail="{{subroute}}">
 </app-route>

    
      <div class="login-form">
                      
           <div class="form-group ">
           <br><b></b>
           <h4><p class="text">Nombre</h4>
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre"name="" value="{{nombre::input}}">
            <i class="fa fa-user-o"></i>
            </div>
            <h4><p class="text">IBAN Cuenta</h4>
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Indique cuenta destino"name="" value="{{iban::input}}">
            <i class="fa fa-university"></i>
            </div>
            <h4><p class="text">Concepto</h4>
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Descripción transferencia" name="" value="{{concepto::input}}">
            <i class="fa fa-file-text"></i>
            </div>
            <h4><p class="text">Importe</h4>
              <div class="form-group">
              <input type="number" class="form-control" placeholder="Indique la cantidad"name="" value="{{importe::input}}">
              <i class="fa fa-eur"></i>
              </div>
            <div class="form-group">
            <button on-click ="transferencia" type="button" name="button" class="log-btn">Confirmar Transferencia</button>
            </div>
            <div class="form-group">
                <button on-click ="Volver" type="button" name="button" class="log-btn">Volver</button>
                </div>
                  
            </div>
            </div>
            </div>



<!-- <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Transferencia extends Polymer.Element {
      static get is() { return 'my-transferencia'; }
      static get properties() {
        return {
          usuario: {
            type: String,

          },
          password:{
            type:String,

          },
          mensaje:{
            type:String,

          },
            Ocultar:{
              type:Boolean,
              value:false
            }
        };
      }
    transferencia()
    {
        var nuevoMov = {
        idCliente: localStorage.getItem('idCliente'),
        idCuent: this.iban,
        movimiento : {
          idMovimiento: Math.floor((Math.random() * 99999999) + 9999999),
          importe: this.importe,
          latitud: 40.5012527,
          longitud: -3.6683719,
          fechaMovimiento: "2017-01-19",
          horaMovimiento: "10:50:00"
        }
      };
      var request = new XMLHttpRequest();
      request.open("POST","http://localhost:3000/movimientosMongo",false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      var body = JSON.stringify(nuevoMov);
      request.send(body);
      console.log(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);

      if (request.responseText == "OK") {
          alert("Transferencia realizada correctamente");
          const detail ={result:'OK'};
          this.dispatchEvent(new CustomEvent('volverCuentas', { detail }));
        
         }
         else{
          alert("Error al realizar la transferencia");
         }
      
    }

      
      Volver()
    {
      console.log('volverCuentas');
      console.log(localStorage.getItem('idCliente'));
        const detail ={result:'OK'};
        this.dispatchEvent(new CustomEvent('volverCuentas', { detail }));

    }

    }

    window.customElements.define(Transferencia.is, Transferencia);
  </script>


</dom-module>
